[
  {
    "did": "did:plc:account1",
    "signingKey": "signingKey1",
    "host": "127.0.0.1",
    "port": 4100,
    "bskyIdentifier": "handle1.bsky.social",
    "bskyPassword": "password1"
  },
  {
    "did": "did:plc:account2",
    "signingKey": "signingKey2",
    "host": "127.0.0.1",
    "port": 4102,
    "bskyIdentifier": "handle2.bsky.social",
    "bskyPassword": "password2"
  }
]
